################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClockDB/FileContentIndex/1556725e-106b-46ec-ad3f-d72c988e32c8.vsidx
/.vs/ClockDB/FileContentIndex/a6b5a824-6f1a-4968-9024-54ccd22cd586.vsidx
/.vs/ClockDB/FileContentIndex/a8b2ae30-4b2e-4bd6-b4e8-da699f8555b4.vsidx
/.vs/ClockDB/FileContentIndex/c1056751-a4a3-403f-8871-9f526b24f250.vsidx
/.vs/ClockDB/FileContentIndex/ee473155-6618-47b0-aa17-c21c5cdd5c02.vsidx
/.vs/ClockDB/FileContentIndex/ccf05d90-47fc-4782-8766-179cab1743d9.vsidx
/.vs/ClockDB/FileContentIndex/9d87bad8-06e9-4a06-b4c1-0d20c734cd20.vsidx
/.vs/ClockDB/FileContentIndex/15b4c7cf-b71e-4617-aef3-d32b9dd4ec50.vsidx
/.vs/ClockDB/FileContentIndex/7bac988e-e6c2-4b63-8baa-d6ab75a68ea1.vsidx
/.vs/ClockDB/FileContentIndex/036f5f5a-6058-4ae6-91f5-c6a53cbdc989.vsidx
/.vs/ClockDB/FileContentIndex/bc7f4192-0141-4ad0-8908-a5ee978de623.vsidx
/.vs/ClockDB/FileContentIndex/0a50115d-8809-47a9-8ebe-e5790373dab7.vsidx
.vsidx
.vs/
